<html>
<head><title>book list</title></head>
<body>
	<h2>Book List</h2>
	<table border="1">
		<thead><tr>
				<td>ID</td>
				<td>Title</td>
				<td>Author</td>
				<td>Tags</td>
				<td>Publisher</td>
		</tr></thead>
		<tbody th:each="book : ${booklist}"><tr>
				<td th:text="${book.id}">dummy ID</td>
				<td th:text="${book.title}">dummy Title</td>
				<td th:text="${book.author}">dummy Author</td>
				<td th:text="${book.tags}">dummy Tags</td>
				<td th:text="${book.publisher}">dummy Publisher</td>
		</tr></tbody>
	</table>
</body>
</html>